<h2>Register</h2>
<form method="POST" action="/register" class="card p-4">
  <div class="mb-3">
    <label class="form-label">Username</label>
    <input name="username" class="form-control" required minlength="3">
  </div>
  <div class="mb-3">
    <label class="form-label">Password</label>
    <input type="password" name="password" class="form-control" required minlength="6">
  </div>
  <button class="btn btn-success">Register</button>
</form>
